.header {
  height: 130px;
  background-color: #504f4f;
  text-align: center;
  img {
    width: 150px;
  }
}
.searchContainer {
  margin-top: 15px;
  text-align: center;
  .searchInput {
    height: 30px;
    width: 65%;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
  }
  .searchButton {
    height: 30px;
    width: 24%;
    margin-top: 10px;
    margin-left: 2%;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 15px;
  }
  .searchButton:active {
    box-shadow: 1px 1px 1px 1px #888888;
    outline: none;
  }
}

.listsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  .listItemsContainer {
    display: grid;
    box-shadow: 1px 1px 30px 10px #888888;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2%;
    margin: 20px;
    padding: 10px;
    background-color: white;
    .imageContainer {
      img {
        width: 100%;
        min-width: 80px;
      }
    }
    .listPropertyContainer {
      span {
        font-size: 20px;
      }
      button {
        min-width: 40%;
        font-size: 20px;
        margin-top: 10px;
        background-color: #deff1e;
      }
      .movieName {
        font-size: 25px;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .listsContainer {
    display: block;
  }
  .searchContainer {
    .searchInput,
    .searchButton {
      width: 100%;
      margin-left: auto;
    }
  }
}
@media only screen and (max-width: 700px) {
  .listItemsContainer {
    display: grid;
    grid-template-columns: 1fr !important;
    padding-bottom: 30px !important;
  }
}
