* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #d4d4d2;
}
.App {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  min-height: 600px;
}
.paginationContainer {
  text-align: center;
  min-height: 90px;
  font-size: 30px;
}
.paginatioLabel {
  width: 40%;
  min-width: 300px;
  margin: auto;
  margin-top: 25px;
  border-bottom: 3px solid black;
}
.pagination {
  margin-top: 25px;
}
.pagesSpan {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}
.selectedPage {
  color: #829705;
}
.next,
.prev {
  background-color: black;
  color: white;
  border-radius: 10px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
}
