* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: #504f4f;
}
body {
  background-color: #d4d4d2;
  min-width: 500px;
}
.App {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  min-height: 600px;
}
.paginationContainer {
  text-align: center;
  font-size: 30px;
  margin-top: 180px;
  height: 200px;
}
.paginatioLabel {
  width: 40%;
  min-width: 200px;
  margin: auto;
  padding-bottom: 10px;
  margin-top: 25px;
  border-bottom: 3px solid black;
}
.pagination {
  margin-top: 25px;
}
.pagesSpan {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}
.selectedPage {
  color: #829705;
}
.next,
.prev {
  background-color: #504f4f;
  color: #d4d4d2;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
}
button {
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .next,
  .prev {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
